.form_margin{
    margin: auto;
}

.create_img{
    visibility: hidden;
    width: 200px;
    height: auto;
    object-fit: cover;
}

.show_img{
    width: 120px;
    height: auto;
    object-fit: cover;
}

.create_button{
    background-color: #67696a;
    color: white;
}
