.form_margin{
    margin: auto;
}

.create_img{
    visibility: hidden;
    width: 200px;
    height: auto;
    object-fit: cover;
}

.show_img{
    width: 120px;
    height: auto;
    object-fit: cover;
}

.create_button{
    background-color: #67696a;
    color: white;
}

.blog_video{
    width: 300px;
    height: auto;
    visibility: hidden;
}

.blog_show_video{
    width: 300px;
    height: auto;
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}

.message-container {
    max-height: 150px;
    overflow: auto;
    padding: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.message-content {
    margin: 0;
    font-size: 14px;
    color: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px
    }
}

@media (min-width: 1400px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        max-width: 100% !important;
    }
}

.bg-light.rounded-top {
    margin-top: auto;
}

.container_footer{
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
}
