/*.comment-form .loading{*/
/*    display: none;*/
/*    background: #fff;*/
/*    text-align: center;*/
/*    padding: 15px;*/
/*}*/

/*.comment-form .sent-message{*/
/*    display: none;*/
/*    color: #fff;*/
/*    background: #18d26e;*/
/*    text-align: center;*/
/*    padding: 15px;*/
/*    font-weight: 600;*/
/*}*/

#form_overlay {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;

}

@media screen and (max-width: 680px) {
    #form_overlay {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 100%;
    }
}

.bigHeight {
    border-radius: 0;
    padding: 40px !important;
}

@media screen and (max-width: 680px) {
    .bigHeight {
        width: 92%;
        padding: 10px !important;
        margin: auto;
        margin-top: 20px;
    }
}

div.c {
    position: relative;
    margin: 2em;
}

div.c input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

div.c h4 {
    background: steelblue;
    color: white;
    padding: 1em;
    position: relative;
}

div.c label::before {
    content: "";
    display: inline-block;
    border: 15px solid transparent;
    border-left: 20px solid white;
}

div.c label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

div.p {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

div.p p {
    padding: 2em;
}

div.c input:checked ~ h4 label::before {
    border-left: 15px solid transparent;
    border-top: 20px solid white;
    margin-top: 12px;
    margin-right: 10px;
}

div.c input:checked ~ h4 ~ div.p {
    max-height: 100px;
}

.blog_item {
    cursor: pointer;
}

.room_item {
    cursor: pointer;
}

.accordion {
    max-width: 1500px;
    margin: auto;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    overflow: hidden;

}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.icon {
    font-size: 20px;
    transition: transform 0.3s;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content p {
    padding: 15px;
    /*margin: 0;*/
    margin-bottom: 18px;
}

.card_border {
    border: none !important;
}

.card_bg {
    background-color: white !important;
}

.content_p {
    color: black !important;
}

.details_section {
    margin-top: 80px;
}

.blog_name {
    margin-bottom: 75px;
    text-align: center;
}

.b_name {
    font-size: 35px;
}

.single-comment-item .sc-text button {
    display: inline-block;
    color: #19191a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 24px;
    border: 1px solid #F9EEE3;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 10px;
}

.single-comment-item .sc-text button:hover {
    background: #dfa974;
    color: #ffffff;
    border-color: #dfa974;
}

.name_com {
    width: 90%;
    border-radius: 7px;
    margin-bottom: 18px;
    padding: 5px;
    height: 50px;
    color: #707079;
    font-size: 16px;
    border: 1px solid #e5e5e5;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

.com_message {
    border-radius: 10px;
    width: 90%;
    height: 100px;
    border: 2px solid #e5e5e5;
    margin-bottom: 10px;
    color: #707079;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.close_btn {
    background-color: #809296;
    border-radius: 18px;
    padding: 5px 24px;
}

.send_comment {
    display: inline-block;
    color: #19191a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 24px;
    border: 1px solid #F9EEE3;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 10px;
}

.send_comment:hover {
    background: #dfa974;
    color: #ffffff;
    border-color: #dfa974;
}

.reply_text {
    color: #ffa955;
    font-size: 25px;
}

.breadcrumb_blog {
    padding-top: 10px;
    padding-bottom: 45px;
}

.imgResize {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: 100% 70%;
}

@media screen and (max-width: 680px) {
    #spad {
        margin-top: 10px;
        padding-top: 0;
    }
}

@media screen and (max-width: 680px) {
    .breadcrumb-section {
        padding-top: 35px;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 680px) {
    .contact-text h2 {
        font-size: 30px;
        color: #19191a;
        margin-bottom: 24px;
    }
}

@media (max-width: 991.98px) {
    .section-heading h3 {
        font-size: 2.5rem;
    }
}

@media (max-width: 991.98px) {
    .about-page-text .ap-title h2 {
        font-size: 30px;
    }
}

.m_about_image{
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.rd-reviews .review-item .ri-text button {
    display: inline-block;
    color: #19191a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 24px;
    border: 1px solid #F9EEE3;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 10px;
}
.rd-reviews .review-item .ri-text button:hover{
    background: #dfa974;
    color: #ffffff;
    border-color: #dfa974;
}
.rd-reviews .review-item .ri-text a {
    display: inline-block;
    color: #19191a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 24px;
    border: 1px solid #F9EEE3;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 10px;
}
.rd-reviews .review-item .ri-text a:hover {
    background: #dfa974;
    color: #ffffff;
    border-color: #dfa974;
}
.single-comment-item.reply-comment{
    padding-left: 120px;
    margin-bottom: 52px;
}
.comment_img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.date_comment{
    font-size: 12px;
    color: #dfa974;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.comment_user {
    color: #19191a;
    margin-top: 4px;
    margin-bottom: 8px;
}
.room_page{
    float: right;
}

@media (max-width: 768px) {
    .untree_co--site-hero {
        height: 0px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

